{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Todo_app</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href=" /static/css/main.css">
</head>
<body>

	<div class="center-column">

        <h3>Are you sure you want to delete "{{work}}"?</h3>

        <a  class="btn btn-warning" href="{% url 'work' %}" >Cancel</a>

        <form method="POST" action="">
            {% csrf_token %}    
            <input  class="btn btn-info" type="submit" name="Confirm">
        </form>
    </div>

</body>
</html>