{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Todo_app</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href=" /static/css/main.css">
</head>
<body>

	<div class="center-column">
		<form method="POST" action="">
			{% csrf_token %}
			{{form.title}}
			<input class="btn btn-info" type="submit" value="submit">
		</form>  
		<div class="todo-list">
			{% for work in total_work %}
				<div class="item-row">

					<a class="btn btn-sm btn-info" href="/update_work/{{work.id}}">Update</a>
					<a class="btn btn-sm btn-danger" href="/delete_work/{{work.id}}">Delete</a>
					{% if work.complete == True %}
					<strike>{{work.title}}</strike>
					{% else %}
					<span>{{work.title}}
					{% endif %}
				</div>
			{% endfor %}
		</div>  
	</div>

</body>
</html>